.ipynb_checkpoints
.DS_Store
.idea/
.python-version
import/*.xml
export/*.xml
import/broken_file.txt
src/stabledracor/__pycache__/
.compose.fullstack.empty.yml.swp
compose.test.yml
stabledracor/__pycache__/
build/
src/stabledracor.egg-info/
