.ipynb_checkpoints
.DS_Store
.idea/
.python-version
import
export
src/stabledracor/__pycache__/
.compose.fullstack.empty.yml.swp
compose.test.yml
stabledracor/__pycache__/
build/
src/stabledracor.egg-info/
